*,
*::before,
*::after {
  box-sizing: border-box;
}

h1 {
  font-size: 3rem;
  font-weight: 700;
}

p {
  font-size: 2rem;
  font-weight: 400;
}

body {
  font-family: "Quicksand", sans-serif;

  margin: 0;

  display: flex;
  flex-direction: column;
}

header.navbar-container {
  padding-block: 1rem;

  z-index: 9999;
}

header.navbar-container,
section.hero,
main {
  flex: 1;

  width: 100%;
  max-width: 1450px;
  margin-inline: auto;
  padding: 2rem 4rem;

  display: flex;
  align-items: center;
}

header.navbar-container {
  padding-block: 1rem;

  justify-content: space-around;
  align-items: center;

  z-index: 9999;
}

header.navbar-container .logo img {
  width: 100px;
}

header.navbar-container .nav-list ul {
  padding-left: 0;

  display: flex;
  justify-content: center;
  gap: 2rem 1rem;
}

header.navbar-container .nav-list li {
  list-style-type: none;
}

header.navbar-container .nav-list li a {
  padding: 0.5rem 1.5rem;
  border-radius: 999px;

  text-decoration: none;
  font-size: 1.05rem;
  font-weight: 500;
  color: black;

  transition: all 0.2s ease-in-out;
}

header.navbar-container .nav-list li:hover a {
  background-color: rgb(168, 205, 170);
  color: white;
}

#registrasi {
  color: white;
  background-color: rgb(65, 127, 67);
}
#registrasi:hover {
  color: white;
  background-color: rgb(168, 205, 170);
}

button.go-download {
  background-color: rgba(22, 157, 208, 0.9);
  padding: 1rem;
  flex-flow: wrap;

  border: 3px solid transparent;

  border-radius: 1rem;
  margin-block: auto;

  font-family: "Work Sans", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

button.go-download:hover {
  background-color: rgba(118, 171, 190, 0.9);
}

.hero {
  display: flex;
  flex-direction: row;
}

.hero img {
  max-width: 100%;
}

.home-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

main section.home-articles {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;

  justify-content: space-between;
}

article.card-article {
  width: 16rem;
  border: 1px;
}
article.card-article img {
  width: 16rem;
  height: 9rem;
  object-fit: cover;
}
article.card-article h2 {
  font-size: 1rem;
}

article.card-article p {
  font-size: 0.8rem;
}

main aside.home-article-right-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

main aside.home-article-right-side .home-banner img {
  width: 100%;
  object-fit: cover;
}

footer .cta-to-other-page {
  background-color: rgb(33, 32, 32);
  padding: 2rem 4rem;

  display: flex;
  flex-direction: row;
}

footer h4 {
  color: white;
}
footer p a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

footer p a:hover {
  color: rgb(34, 155, 58);
  text-decoration: none;
  font-size: 1rem;
}

footer #services {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

footer #about-us {
  display: flex;
  flex-direction: column;
  margin: 2rem;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
    font-weight: 400;
  }

  header.navbar-container {
    flex-direction: column;
  }

  header.navbar-container .nav-list ul {
    flex-wrap: wrap;
    column-gap: 0.5rem;
  }

  .hero {
    flex-direction: column-reverse;
  }

  .home-body {
    flex-direction: column;
  }
}
